:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #2f3136;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

#reset-all {
  background-color: #1a1a1a;
  margin-bottom: 10px;
  -webkit-transition: border 200ms ease-out;
  -moz-transition: border 200ms ease-out;
  -o-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

#reset-all:hover {
  border: 1px solid white;
}

ul {
  list-style-type: none;
  padding: 0;
}

label:hover, input[type='checkbox']:hover {
  cursor: pointer;
}

#container {
  display: flex;
  justify-content: space-between;
}

#masonry {
  columns: 6 200px;
  column-gap: 1rem;
}

s {
  color: gray;
}

.card {
  background-color: #36393f;
  border: 2px solid #36393f;
  padding: 0 16px 0 16px;
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  position: relative;
}

#checksCount {
  width: 115px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: none;
}

input:checked + input {
  display: none;
}

input:checked + input + label {
  opacity: 0.2;
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

h2 {
  padding: 10px;
  margin-bottom: 0;
}

h2:hover, li:hover {
  background-color: #40444b;
  border-radius: 10px;
}

.check-label {
  font-size: 18px;
  width: 90%;
}

.woth-button {
  position: absolute;
  top: -5px;
  right: 5px;
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.woth {
  border: 2px solid gold;
}

.woth-on {
  color: gold;
}

.woth-off {
  color: white;
}

.item-input {
  width: 25px;
  height: 20px;
  margin-right: 6px;
  border-radius: 5px;
  border: none;
}

.item-input:focus {
  outline: none;
}
